* {
  margin: 0;
  padding: 0;
}
body {
  /* I'm a CSS comment! */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
  
}

/* Apply styles to <header>*/
header {
  padding: 20px 35px;
  background-color: #39a6b2;
}
/* applied styles to RUN BUDDY */
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}
/* applied styles anchor tag in header */
header a {
  text-decoration: none;
  color: #fce138;
}
/*  floated all nested in nav to the right*/
header nav {
  float: right;
  margin: 7px 0;
}
/* made ul disply as a line horizontally*/
header nav ul li {
  display: inline;
}
/*spaced out the li, increased font size, and lowered it*/
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}



